<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.givevision.rochesightchart"
    android:versionCode="603"
    android:versionName="603">
    <!--   https://docs.google.com/document/d/1AkM6-cOKtRr1uyR1m7HLclhdrWvQFJRwb73fYn5sx3A/edit?usp=sharing -->
    <!--   ver 100 - generate chart with picture-->
    <!--   ver 200 - generate C into texture-->
    <!--   ver 300 - generate E into texture, remove voice command, add 1 step, modify controller responses,
                   add bip, auto-play each 3s-->
    <!--   ver 301 - Calibration for each eye separately, Step 1: gray circle -->
    <!--   ver 302 - text modification -->
    <!--   ver 303 - step 1: position of circles in horizontal bit further,
                 allow the circles to move up or down a bit,
                 add the maximum deviation possible from the original position,
                 step2: to start  the circle a few sizes higher (on the middle of charts),
                 test: a high pitch beep if right and low pitch beep if wrong response,
                 if the user gets two wrong , it would be impossible for them to get 3/4 so you can stop the test there,
                 make delay on key detection
    -->
    <!--   ver 304 - Verbales instruction modification
                Added timer on the app start and of the test to recall to the user the app waiting
                Center the circles step1 of calibration
    -->
    <!--   ver 401 - Verbales instruction modification: modify right eye instruction
            Put only one pitch with different volume for good/wrong responses, remove pitch for next sizes of E
            Debug:  min 2 wrong for record  the best vision seen
            Test: add max ¾ good for next chart sizes
      -->
     <!-- ver 402 - local database
            server database
            wifi connection with AP
            connection with server
            calibration 2 with bigger circles
     -->
    <!-- ver 403 - bug with result left eye in the server
            modified voice result (removing 4/)
     -->
    <!-- ver 404 - bug with result left eye in the server
            modified if border in getEyeResult(int eye)
     -->
    <!-- ver 500 - contrast test
             - joystique up/down to more/less contrast
             - trigger say level of contrast
    -->
    <!-- ver 501 - add virtual controller button
             - add left/right modification of pixels
             - add text information - remove trigger say level of contrast
    -->
    <!-- ver 502 - add optotype all scale with pixels value and gray scale
                 - add modification OpenGL script for pixel scaling
    -->
    <!-- ver 600 - add optotype all scale with pixels value and gray scale
    -->
    <!-- ver 601 - integration with SP
            -debug sizes of E (exact 1 pixels incrementation)
            -debug connection with SighPlus
    -->
    <!-- ver 602 - controller detection right joystick position,
    - contrast boolean in local database (Acuity)
    - add test without contrast for each eye
    - add in sever contrast field in Acuity DB
    - server show results with and without contrast
        -->
    <!-- ver 603
         test 1 , the high 100% contrast test, foreground pixel value( of the letter E)  is 0 (black) and all background pixel value 255 (white)  for the entire test
         test 2 , the low 2.5% contrast test, foreground pixel value ( of the letter E)  is 250( light grey)  and all background pixel value is 255 (white)  for the entire test .
         contrast.txt for modification
       -->
        <uses-feature android:glEsVersion="0x00020000"  android:required="true" />

        <uses-permission android:name="android.permission.BLUETOOTH" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        <uses-permission android:name="android.permission.RECORD_AUDIO" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.NETWORK_STATE"/>
        <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        <!-- @SystemApi @hide Allows an application to modify any wifi configuration, even if created
         by another application. Once reconfigured the original creator cannot make any further
         modifications.
         <p>Not for use by third-party applications.
          application needs to be signed by the platform key or be privileged-->
<!--        <permission android:name="android.permission.OVERRIDE_WIFI_CONFIG"-->
<!--        android:protectionLevel="signature|privileged" />-->

        <application
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            >
            <activity android:name=".MainActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|navigation|orientation">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        </application>

    </manifest>